<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <style>
        body {
            background: url("img/background_allEvents-1.png");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }

        body.modal-open {
            overflow-y: scroll;
            padding-right: 0 !important;
        }

        .fun-point-right-col {
            background: url("img/background_allEvents-2.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .offer__title {
            position: static !important;
        }

        .category-select {
            max-width: 100% !important;
        }

        @media screen and (max-width: 985px) {
            .card {
                margin-left: 0 !important;
            }

            .fun-point-right-col {
                margin-top: 25px;
            }
        }

        @media screen and (max-width: 955px) {
            header.header > .container > .row > .col-lg-3 {
                display: flex;
                justify-content: center;
            }

            header.header > .container > .row > .col-lg-9 > nav > ul {
                justify-content: center !important;
            }
        }

        @media screen and (max-width: 525px) {
            header.header > .container > .row > .col-lg-9 > nav > ul {
                flex-direction: column;
                align-items: center;
            }
        }
    </style>
    <title>FunPoint</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="css/allEvents.css" rel="stylesheet">
    <link href="css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <form action="#" enctype="multipart/form-data" method="post" th:action="@{/allEvents}" th:object="${event}">
        <div class="modal fade" id="EventModalFade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Добавление события
                        </h4>
                        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">x</button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EventModalFade">
                                Название события<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 eventModalTitle">
                                <input class="form-control form-control-sm" id="title" placeholder="" th:field="*{title}"
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EventModalFade">
                                Категория события<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 eventModalTitle">
                                <select class="category-select col-sm-7 form-control form-control-sm" id="categoryTitle"
                                        th:field="*{categoryTitle}" type="text">
                                    <option th:each="category: ${categories}" th:text="${category.title}"
                                            th:value="${category.title}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EventModalFade">
                                Адрес<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 eventModalAddress">
                                <input class="form-control form-control-sm" id="address" placeholder=""
                                       th:field="*{address}"
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EventModalFade">
                                Дата<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 eventModalDate">
                                <input class="form-control form-control-sm" id="eventDate"
                                       placeholder="" th:field="*{eventDate}" type="date">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EventModalFade">
                                Время<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 eventModalTime">
                                <input class="form-control form-control-sm" id="eventTime"
                                       placeholder="" th:field="*{eventTime}" type="time">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EventModalFade">
                                Цена
                            </label>
                            <div class="col-sm-8 eventModalPrice">
                                <input class="form-control form-control-sm" id="price" placeholder="" th:field="*{price}"
                                       type="number">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EventModalFade">
                                Описание<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 eventModalDescription">
                                <textarea class="form-control form-control-sm" id="description" rows="4"
                                          th:field="*{description}"
                                          type="text"></textarea>
                            </div>
                        </div>

                        <!--<div class="form-group row">
                            <label for="EventModalFade" class="col-sm-4 col-form-label col-form-label-sm">
                                Соц.сети/Сайт
                            </label>
                            <div class="col-sm-8 eventModalSite">
                                <input type="text" class="form-control form-control-sm" id="colEventSite" placeholder="">
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="EventModalFade" class="col-sm-4 col-form-label col-form-label-sm">
                                Ваш E-Mail<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 eventModalE-Mail">
                                <input type="text" class="form-control form-control-sm" id="colEventEMail" placeholder="">
                            </div>
                        </div>-->

                        <div class="important-description row">
                            <span class="important-field">*</span>&nbsp;-&nbsp;обязательное поле для ввода
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">
                            Закрыть
                        </button>
                        <button class="btn btn-primary " type="submit" value="Submit">
                            Отправить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form>
        <div class="modal fade" id="EditEventModalFade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Редактирование события
                        </h4>
                        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">x</button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EditEventModalFade">
                                Название события<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 editEventModalTitle">
                                <input class="form-control form-control-sm" id="colEditEventTitle" placeholder=""
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EditEventModalFade">
                                Категория события<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 editEventModalCategory">
                                <input class="form-control form-control-sm" id="colEditEventCategory" placeholder=""
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EditEventModalFade">
                                Адрес<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 editEventModalAddress">
                                <input class="form-control form-control-sm" id="colEditEventAddress" placeholder=""
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EditEventModalFade">
                                Дата<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 editEventModalDate">
                                <input class="form-control form-control-sm" id="colEditEventDate" placeholder=""
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EditEventModalFade">
                                Время<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 editEventModalTime">
                                <input class="form-control form-control-sm" id="colEditEventTime" placeholder=""
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EditEventModalFade">
                                Цена
                            </label>
                            <div class="col-sm-8 editEventModalPrice">
                                <input class="form-control form-control-sm" id="colEditEventPrice" placeholder=""
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm" for="EditEventModalFade">
                                Описание<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 editEventModalDescription">
                                <textarea class="form-control form-control-sm" id="colEditEventDescription" rows="4"
                                          type="text"></textarea>
                            </div>
                        </div>

                        <!--<div class="form-group row">
                            <label for="EventModalFade" class="col-sm-4 col-form-label col-form-label-sm">
                                Соц.сети/Сайт
                            </label>
                            <div class="col-sm-8 eventModalSite">
                                <input type="text" class="form-control form-control-sm" id="colEventSite" placeholder="">
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="EventModalFade" class="col-sm-4 col-form-label col-form-label-sm">
                                Ваш E-Mail<span class="important-field">*</span>
                            </label>
                            <div class="col-sm-8 eventModalE-Mail">
                                <input type="text" class="form-control form-control-sm" id="colEventEMail" placeholder="">
                            </div>
                        </div>-->

                        <div class="important-description row">
                            <span class="important-field">*</span>&nbsp;-&nbsp;обязательное поле для ввода
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">
                            Закрыть
                        </button>
                        <button class="btn btn-primary sendEvent" type="button">
                            Отправить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--<form>
        <div class="modal fade" id="someEvent">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#EditEventModalFade"
                                data-dismiss="modal">
                            <span class="glyphicon glyphicon-pencil" style="color: grey"></span>
                        </button>
                        <h4 class="modal-title justify-content-center" id="allEventsTitle">
                            Тут название
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    </div>
                    <div class="modal-body">
    
                        <ul class="list-group">
                            <li class="list-group item">Тут адрес</li>
                            <li class="list-group item">Тут дата и время</li>
                            <li class="list-group item">Тут цена</li>
                            <li class="list-group item">Тут описание</li>
                            <li class="list-group item">Тут их оффициальный сайт, или соцсети</li>
                        </ul>
    
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            Закрыть
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>-->

    <header class="header" id="header">
        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <img alt="FunPoint" class="logo" src="img/logo.png">
                </div>
                <div class="col-lg-9 ml-auto">
                    <nav>
                        <ul class="menu d-flex justify-content-end">
                            <li class="menu__item">
                                <a href="index.html" th:href="@{~/}">
                                    <button class="btn btn-link" data-target="#" data-toggle="modal" type="button">
                                        Главная
                                    </button>
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="categories.html" th:href="@{~/categories}">
                                    <button class="btn btn-link" data-target="#" data-toggle="modal" type="button">
                                        Категории
                                    </button>
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#">
                                    <button class="btn btn-link" data-target="#EventModalFade" data-toggle="modal"
                                            type="button">
                                        Добавить событие
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </header>

    <div class="row">
        <div class="col-lg-8">
            <div class="col-sm-12">
                <div class="card" style="margin-left: 22%; margin-top: 5px; color: #564037; background: #fef2e9; border-color: #564037"
                     th:each="event : ${events}">
                    <div class="d-flex w-100 class-header">
                        <small class="mr-auto p-2" th:text="${event.getId}" th:value="${event.getId}"></small>
                        <h5 class="mr-auto" th:text="${event.title}" th:value="${event.title}"></h5>
                        <small class="p-2" th:text="${event.getEventTime}" th:value="${event.getEventTime}"></small>
                        <small class="p-2" th:text="${event.getEventDate}" th:value="${event.getEventDate}"></small>
                    </div>
                    <div class="card-body">
                        <blockquote class="d-flex w-100 blockquote">
                            <p class="mr-auto p-2" th:text="${event.address}" th:value="${event.address}"></p>
                            <p class="p-2" th:text="${event.price}" th:value="${event.price}"></p>
                            <p class="p-2">грн.</p>
                        </blockquote>
                        <footer class="d-flex w-100 blockquote-footer">
                            <p class="mr-auto mb-1" th:text="${event.description}" th:value="${event.description}"></p>
                            <p class="p-2">
                                <button class="btn btn-link" data-target="#EditEventModalFade" data-toggle="modal"
                                        type="button">
                                    <span class="glyphicon glyphicon-pencil align-items-end justify-content-end"
                                          style="color: gray; font-size: 18px"></span>
                                </button>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

        <div class="fun-point-right-col col-lg-4">
            <div>
                <div class="offer flex-column justify-content-end">
                    <h1 class="offer__title">
                        Здесь представлены <br>все события, которые <br>есть в нашем <br>сервисе.
                    </h1>
                    <h1 class="offer__title">
                        Для более комфортного <br>просмотра <br>воспользуйтесь <br>категориями.
                    </h1>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-3.4.1.js"></script>
</body>
</html>

<!--<div class="list">
            <div class="list__allEvents">
                <div class="list-group">
                    <div class="eventList">
                        <button th:each="event : ${events}" type="button" class="btn btn-default container-fluid" data-toggle="modal" data-target="#someEvent">
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100">
                                    <h5 class="mr-auto p-2" th:value="${event.title}" th:text="${event.title}"></h5>
                                    <small class="p-2" th:value="${event.event_time}" th:text="${event.event_time}"></small>
                                    <small class="p-2" th:value="${event.event_date}" th:text="${event.event_date}"></small>
                                </div>
                                <div class="d-flex w-100">
                                    <small class="mr-auto p-2" th:value="${event.address}" th:text="${event.address}"></small>
                                    <small class="p-2" th:value="${event.price}" th:text="${event.price}"></small>
                                </div>
                                <p th:value="${event.description}" th:text="${event.description}" class="mb-1"></p>
                            </a>
                        </button>
                    </div>
                </div>
            </div>-->